*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blue;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.risultato{
    font-size: 300px;
    font-weight: 600;
    text-align: center;
}